.menu{background-color: lime;
height: 30px;}

.menu a{color: white;
text-decoration: none;

margin: 0 10px;}

.links{text-align: center;}

#header{background-image: url(image/background.jpg);}

#main a{color: red;
font-size: 30px;,
}

#info a{text-align: center;}

#info{background-color: green;}

body{margin: 0;}

div{margin: 0;}

#galery img{border-style: solid;
}

.yellow{border-color: yellow}

.blue{border-color: blue;}

.red{border-color: red;}

.green{border-color: green;}

#galery{text-align: center;}

#message{text-align: center;
background-color: green;}

#message form{border-style: solid;
border-color: darkgreen;
width: 300px;}